﻿h1 {
    font-weight: bold;
}

#button {
    width: 50px;
    height: 25px;
    background-color: aquamarine;
    color: white;
    font-style: italic;
    font-size: 25px;
    margin: 50px;
}

img {
    height: 300px;
    width: 500px;
}
